<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CitectServers" type="Nac.Field.Citect.CitectServersConfigurationSection, NacFieldCitect"/>
  </configSections>
  <CitectServers>
    <add Machine = "203.15.179.7" User = "Administrator" Password = "alfa1" />
    <add Machine = "203.15.179.6" User = "Administrator" Password = "alfa1"/>
  </CitectServers>
  <appSettings>
    <add key="ctListPollTime" value="800"/>
    <add key="ctListRaw" value="true"/>
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration> 